@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700,700i,800");



								/* ALL THE MEDIA QUERIES ARE PLACED HERE */


@media (max-width: 991px) {
  #logo {
    /* For less than 991px */
    position: relative;
    left: 45px;
  }
}



@media (max-width: 767px) {
  .margin_60_35 {
    /* For less than 767px */
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

@media (max-width: 767px) {
  #login {
    /* For less than 767px */
    width: 100%;
    margin: 30px 0;
  }
}

@media (max-width: 991px) {
  ul#top_access li#user figure {
    /* For less than 991px */
    text-indent: 0;
  }
}
@media (max-width: 991px) {
  ul#top_access li#user {
    /* For less than 991px */
    text-indent: -9999px;
    padding: 0;
    margin: 2px 10px 0 0;
  }
}

@media (max-width: 767px) {
  #login-2 .box_form {
    /* For less than 767px */
    padding: 20px 20px 0 20px;
  }
}

@media (max-width: 767px) {
  .margin_60_35 {
    /* For less than 767px */
    padding-top: 30px;
    padding-bottom: 5px;
  }
}


@media only screen and (max-width: 991px) {
  .btn_mobile {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
    display: block;
    z-index: 9999;
	} 


@media (max-width: 991px) {
  header .container {
    /* For less than 991px */
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    width: 100% !important;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  #login-2 .box_form {
    /* For less than 767px */
    padding: 20px 20px 0 20px;
  }
}




        /* BASIC CSS EDITING FOR HRTML DOCUMENT */

/********************/


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: "Poppins", Helvetica, sans-serif;
  color: #555555;
}

main {
  background: #f5f8fa;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

p {
  margin-bottom: 30px;
}

hr {
  margin: 15px 0 30px 0;
  border-color: #ededed;
}

hr.double {
  margin: 15px 0 30px 0;
  border-color: #ededed;
  border-width: 2px;
}

ul,
ol {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0;
}

p {
  margin-bottom: 25px;
}

p.lead {
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
}

strong {
  font-weight: 600;
}



				/* THIS CSS IS FOR THE NAV BAR */
				/*     //////     ///////      */

ul#top_access {
  float: right;
  position: relative;
  top: 3px;
  margin: -1px 0 0 0;
}
}
	
@media (max-width: 991px) {
	ul#top_access {
    right: 0;
    top: 2px;
  }
	}
	
ul#top_access li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-left: 15px;
}
ul#top_access li i {
  font-size: 34px;
  font-size: 2.125rem;
}
ul#top_access li a {
  color: #3f4079;
}
ul#top_access li a:hover {
  color: #333;
}
ul#top_access li#user {
  position: relative;
  padding: 10px 0 0 60px;
  font-weight: 500;
}
ul#top_access li#user figure {
  position: absolute;
  left: 15px;
  top: 0;
  width: 35px;
  height: 35px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
ul#top_access li#user figure img {
  width: auto;
  height: 35px;
}



			/* CSS For background color and vector image */

.bg_color_2 {
  background: #3f4079 url(hero_bg_1.svg) repeat fixed;
}


			/* CSS For paramters of login DIV */

#login {
  width: 400px;
  margin: 60px auto;
  color: #fff;
}

#login-2 .box_form {
  padding: 30px 0 0 0;
}



#login-2 .forgot {
  display: inline-block;
  margin-top: 5px;
}
@media (max-width: 767px) {
  #login-2 {
    /* For less than 767px */
    width: 100%;
    margin: 0;
  }
}
#login-2 h1 {
  font-size: 28px;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 0 30px 0;
  color: #fff;
}

.box_login {
  width: 50%;
  float: left;
  border-right: 1px solid #e1e8ed;
  padding: 15px 25px;
}

.divider {
  text-align: center;
  height: 1px;
  margin: 30px 0;
  background-color: #e1e8ed;
}
.divider span {
  position: relative;
  top: -20px;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  font-style: italic;
}

#login h1 {
  font-size: 28px;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 0 30px 0;
  color: #fff;
}
@media (max-width: 767px) {
  #login h1 {
    /* For less than 767px */
    font-size: 21px;
    font-size: 1.3125rem;
  }
}


.box_form {
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  color: #555555;
}
.box_form label {
  font-weight: 500;
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 3px;
}
.box_form .form-group {
  margin-bottom: 25px;
}


			/* Buttons and Links STYLING AND EFFECTS */

a.btn_1,
.btn_1 {
  border: none;
  color: #fff;
  background: #e74e84;
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  outline: none;
  font-size: 14px;
  font-size: 0.875rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  font-weight: 500;
}
a.btn_1.medium,
.btn_1.medium {
  padding: 12px 45px;
  font-size: 16px;
  font-size: 1rem;
}

a.btn_1:hover,
.btn_1:hover {
  background: #74d1c6;
}
a.btn_1.outline,
.btn_1.outline {
  background: transparent;
  border: 2px solid #e74e84;
  color: #e74e84;
}
a.btn_1.outline:hover,
.btn_1.outline:hover {
  background: #e74e84;
  color: #fff;
}


.link_bright a {
  color: #e74e84;
}
.link_bright a:hover {
  color: #fff02a;
}



				/* MARGINS and PADDINGS */

.add_top_20 {
  margin-top: 20px;
}

.margin_60_35 {
  padding-top: 60px;
  padding-bottom: 35px;
}





/* Footer */
footer {
  background-color: #fff;
  color: #555;
}
footer h5 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  footer h5 {
    /* For less than 767px */
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  footer ul {
    /* For less than 767px */
    margin-bottom: 35px;
  }
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  color: #555555;
}
footer ul li a:hover {
  color: #e74e84;
}
footer ul li a i {
  margin-right: 10px;
  color: #fff;
}
footer ul.links li a:hover {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0);
}
footer ul.links li a:hover:after {
  opacity: 1;
}
footer ul.links li a:after {
  font-family: 'ElegantIcons';
  content: "\24";
  position: absolute;
  margin-left: 5px;
  top: 1px;
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
footer ul.contacts li a i {
  margin-right: 10px;
  color: #e74e84;
}
footer #copy {
  text-align: right;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #999;
}
@media (max-width: 767px) {
  footer #copy {
    /* For less than 767px */
    text-align: left;
    margin-bottom: 25px;
  }
}

.follow_us ul {
  margin: 0;
}
.follow_us ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-size: 1rem;
}
.follow_us ul li a i {
  color: #555;
}
.follow_us ul li a i:hover {
  color: #e74e84;
}

/* Addtional links / Footer */
ul#additional_links {
  margin: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #999;
}
ul#additional_links li {
  display: inline-block;
  margin-right: 15px;
}
ul#additional_links li:first-child {
  margin-right: 20px;
}
ul#additional_links li:last-child:after {
  content: "";
}
ul#additional_links li a {
  opacity: 0.5;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul#additional_links li a:hover {
  opacity: 1;
}
ul#additional_links li:after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
}


          /* HEADER CSS */


header {
  background-color: #fff;
  min-height: 55px;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
}
header.header_sticky {
  width: 100%;
  z-index: 999;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header.header_sticky.sticky {
  border-bottom: 1px solid #ededed;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999;
}
@media (max-width: 991px) {
  header.header_sticky.sticky {
    /* For less than 991px */
    position: static;
  }
}
header.header_map {
  width: 100%;
  border-bottom: 1px solid #ededed;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
header.static {
  position: static;
  border-bottom: 1px solid #ededed;
  z-index: 999;
  position: relative;
}
@media (max-width: 991px) {
  header .container {
    /* For less than 991px */
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    width: 100% !important;
    max-width: 100%;
  }
}

 header .btn_mobile {
    display: none !important;
  }



    /* LOGIN WITH FACEBOOK, GOOGLE & LINKEDIN CSS */

a.social_bt {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  min-width: 200px;
  margin-bottom: 15px;
  display: block;
  padding: 12px;
  line-height: 1;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
a.social_bt:hover {
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}
a.social_bt.facebook:before, a.social_bt.google:before, a.social_bt.linkedin:before {
  font-family: 'ElegantIcons';
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 1rem;
  color: #fff;
}
a.social_bt.facebook {
  background-color: #3B5998;
}
a.social_bt.facebook:before {
  content: "\e093";
}
a.social_bt.google {
  background-color: #DC4E41;
}
a.social_bt.google:before {
  content: "\e096";
  top: 12px;
}
a.social_bt.linkedin {
  background-color: #0077B5;
}
a.social_bt.linkedin:before {
  content: "\e09d";
}



/*-------- 3.4 Scroll top button --------*/
#toTop {
  width: 40px;
  height: 40px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 10px;
  line-height: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  z-index: 99;
}
#toTop:before {
  font-family: "fontello";
  content: "\e899";
}





/* UNDEFINED */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

.text-center {
  text-align: center !important;
}





a.social_bt.facebook:before, a.social_bt.google:before, a.social_bt.linkedin:before {
  font-family: 'ElegantIcons';
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 1rem;
  color: #fff;
}


            /* UL List styling for navbar */


ul#top_access {
  float: right;
  position: relative;
  top: 3px;
  margin: -1px 0 0 0;
}
@media (max-width: 991px) {
  ul#top_access {
    /* For less than 991px */
    right: 0;
    top: 2px;
  }
}
ul#top_access li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-left: 15px;
}
ul#top_access li i {
  font-size: 34px;
  font-size: 2.125rem;
}
ul#top_access li a {
  color: #3f4079;
}
ul#top_access li a:hover {
  color: #333;
}
ul#top_access li#user {
  position: relative;
  padding: 10px 0 0 60px;
  font-weight: 500;
}
ul#top_access li#user figure {
  position: absolute;
  left: 15px;
  top: 0;
  width: 35px;
  height: 35px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
ul#top_access li#user figure img {
  width: auto;
  height: 35px;
}
@media (max-width: 991px) {
  ul#top_access li#user figure {
    /* For less than 991px */
    text-indent: 0;
  }
}
@media (max-width: 991px) {
  ul#top_access li#user {
    /* For less than 991px */
    text-indent: -9999px;
    padding: 0;
    margin: 2px 10px 0 0;
  }
}



            /* GENERAL LINKS STYLING */


a {
  color: #e74e84;
  text-decoration: none;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}
a:hover, a:focus {
  color: #333;
  text-decoration: none;
  outline: none;
}



#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

[data-loader="circle-side"] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite .95s linear;
  -moz-animation: circle infinite .95s linear;
  -o-animation: circle infinite .95s linear;
  animation: circle infinite .95s linear;
  border: 2px solid #3f4079;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}




/* REGISTER PAGE ADDITONAL CSS */


#register {
  margin: 60px auto;
  color: #fff;
}
#register h1 {
  font-size: 28px;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 0 30px 0;
  color: #fff;
}



          /* PASSWORD TYPE CSS */

/*Password strength */
#pass-info {
  width: 100%;
  margin-bottom: 15px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 5px 0 3px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#pass-info.weakpass {
  border: 1px solid #FF9191;
  background: #FFC7C7;
  color: #94546E;
}
#pass-info.stillweakpass {
  border: 1px solid #FBB;
  background: #FDD;
  color: #945870;
}
#pass-info.goodpass {
  border: 1px solid #C4EEC8;
  background: #E4FFE4;
  color: #51926E;
}
#pass-info.strongpass {
  border: 1px solid #6ED66E;
  background: #79F079;
  color: #348F34;
}
#pass-info.vrystrongpass {
  border: 1px solid #379137;
  background: #48B448;
  color: #CDFFCD;
}






/*   FAQ PAGE CSS     */



        /* MARGINS */


        .margin_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .margin_60 {
    /* For less than 767px */
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


.box_style_cat {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .box_style_cat {
    /* For less than 991px */
    display: none;
  }
}

ul#cat_nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#cat_nav li {
  border-bottom: 1px solid #e1e8ed;
}
ul#cat_nav li i {
  font-size: 16px;
  font-size: 1rem;
  margin: 1px 10px 0 0;
  float: left;
}
ul#cat_nav li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
ul#cat_nav li a {
  position: relative;
  color: #555555;
  display: block;
  padding: 15px 10px;
}
ul#cat_nav li a:after {
  font-family: "fontello";
  content: "\e89b";
  position: absolute;
  right: 15px;
  top: 15px;
}
ul#cat_nav li a span {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #999;
}
ul#cat_nav li a:hover, ul#cat_nav li a#active, ul#cat_nav li a.active {
  color: #e74e84;
}
ul#cat_nav li:first-child a:hover, ul#cat_nav li:first-child a#active, ul#cat_nav li:first-child a.active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
ul#cat_nav li:last-child a:hover, ul#cat_nav li:last-child a#active, ul#cat_nav li:last-child a.active {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.card {
  border: 0;
  margin-bottom: 5px;
}
.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;
  padding: 20px;
}

.card-body {
  padding-bottom: 0;
}

.card-header h5 {
  font-size: 16px;
  font-size: 1rem;
}
.card-header h5 a {
  border: 0;
  display: block;
  color: #999;
}
.card-header h5 a i.indicator {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: normal;
  float: right;
  color: #e74e84;
}




/* CSS FOR THE CONTACT PAGE   */


#contact_info {
  margin: 35px 0 0 0;
}
@media (max-width: 767px) {
  #contact_info {
    /* For less than 767px */
    margin: 0 0 35px 0;
  }
}
#contact_info h3 {
  font-size: 18px;
  font-size: 1.125rem;
}
#contact_info h4 {
  font-size: 14px;
  font-size: 0.875rem;
}
#contact_info ul li {
  margin-bottom: 15px;
}
#contact_info ul li strong {
  display: block;
  font-weight: 500;
}

#map_contact {
  width: 100%;
  height: 500px;
}
@media (max-width: 767px) {
  #map_contact {
    /* For less than 767px */
    height: 350px;
  }
}

.error_message {
  font-weight: 500;
  color: #f26c4f;
  display: inline-block;
  margin-bottom: 10px;
}


.box_general {
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #555555;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}
.box_general hr {
  margin-left: -30px;
  margin-right: -30px;
}

.box_general_2 {
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  border: 1px solid #e1e8ed;
}
.box_general_2 hr {
  margin-left: -30px;
  margin-right: -30px;
}

.box_general_3 {
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #e1e8ed;
}
.box_general_3 hr {
  margin: 30px -30px 30px -30px;
}